
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
}

img {
    width: 25px;
    height: 25px;
    
}

.logo{
    width: 50px;
    height: 50px;
}


.navbar {
    display: flex;             
    align-items: center;      
    justify-content: space-between; 
    padding: 10px 20px;                
    background-color: rgb(219, 217, 217);
    width: 100%;
}

.nav-item{

    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center; 
    gap: 4px; 
    font-size: 12px;
    cursor: pointer;
}

.blocks-icon{

    
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center; 
    gap: 4px;
    border-left: #060606 solid 2px;
    
}

.icon-label-blocks{
    border-left: #060606 solid 2px;
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 15px;
    max-width: 300px;
    
}

.search-bar {
    width: 100%;
    padding: 8px 12px 8px 35px ;
    border: 1px solid #ccc;
    border-radius: 100px;
    background-image: url('search.png');
    background-position: 10px center;
    background-size: 16px;
    background-repeat: no-repeat;
    
    
    
}


.icons-container {
    display: flex;
    align-items: center;
    
    gap: 15px;  
    

}

.icon-line{
    color: #665656;
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
        padding:15px;
    }

    .search-container {
        margin: 5px 0;
        max-width: 100%;
        width: 100%;
    }

    .icons-container {
        justify-content: space-between;
        width: 100%;
        overflow-x: auto;
        padding-bottom: 10px;
    }
}


